header {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #b2d2ff;
}

.div-icom {
    font-size: 40px;
}

.div-list {
    display: flex;
    gap: 50px;
}

.div-list a {
    font-size: 25px;
    color: #b2d2ff;
}

.section-01 {
    background-image: url(imagens/gold-jewellery-on-the-display-with-illumination-powerpoint-background_bdafbc7fef__960_540.avif);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 300px;
}